<?xml version="1.0"?>
<config>
    <modules>
        <Vl_Worker>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Vl_Worker>
    </modules>
    <frontend>
        <routers>
            <worker>
                <use>standard</use>
                <args>
                    <module>Vl_Worker</module>
                    <frontName>worker</frontName>
                </args>
            </worker>
        </routers>
        <layout>
            <updates>
                <worker>
                    <file>vl_worker.xml</file>
                </worker>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <vl_worker>
                <class>Vl_Worker_Block</class>
            </vl_worker>
        </blocks>
        <models>
            <vl_worker>
                <class>Vl_Worker_Model</class>
                <!--
                need to create our own resource, can't just
                use core_mysql4
                -->
                <resourceModel>vl_worker_mysql4</resourceModel>
            </vl_worker>
            <vl_worker_mysql4>
                <class>Vl_Worker_Model_Mysql4</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </vl_worker_mysql4>
        </models>
        <resources>
            <vl_worker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vl_worker_write>
            <vl_worker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vl_worker_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <vl_worker_model_observer>
                        <type>singleton</type>
                        <class>Vl_Worker_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </vl_worker_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>